/**
 * Created by army8735 on 2017/8/26.
 */

.page.index{
  background:url(bg.jpg) no-repeat center;
  background-size:cover;
}
.main.index{
  .logo{
    position:absolute;
    left:0;
    top:40%;
    width:100%;
    height:293px;
    transform:translateY(-50%);
    background:url(logo.png) no-repeat center;
  }
}