/**
 * Created by army8735 on 2017/8/26.
 */

.page.legend{
  background:url(//zhuanquan.xyz/rhymesland/src/single/legend/bg.jpg) no-repeat center;
  background-size:cover;
}
.main.legend{
  ul{
    margin:0 auto;
    padding:0.6rem 0 0.8rem;
    width:9.9rem;
    li{
      position:relative;
      float:left;
      margin-right:0.1rem;
      padding-right:1.20rem;
      transition:transform 0.2s;
      &:last-child{
        margin-right:0;
      }
      &:before{
        display:block;
        margin-left:0.1rem;
        width:1rem;
        height:8px;
        background:#730000;
        content:' ';
      }
      &:after{
        display:block;
        margin-left:0.1rem;
        width:1rem;
        height:8px;
        background:#730000;
        content:' ';
      }
      &:hover{
        transform:translateY(0.2rem);
        .c span{
          bottom:-0.25rem;
          height:0.5rem;
          background:url(enter.png) no-repeat;
          background-size:contain;
          text-indent:0;
        }
        .h{
          opacity:1;
        }
      }
      .c{
        position:relative;
        display:block;
        padding-top:2rem;
        width:1.2rem;
        height:4.3rem;
        border:1px solid #c8a853;
        background:#f9eedf;
        background-repeat:no-repeat;
        background-position:35px 20px;
        box-sizing:border-box;
        span{
          position:absolute;
          bottom:0;
          left:0.35rem;
          display:block;
          width:0.5rem;
          height:0.25rem;
          background:url(arrow.png) no-repeat;
          background-size:contain;
          color:#fff;
          font-size:0.14rem;
          line-height:0.5rem;
          text-align:center;
          text-indent:999rem;
          overflow:hidden;
        }
      }
      &.immortals{
        .c{
          background-image:url(immortals.png);
        }
      }
      &.spirits{
        .c{
          background-image:url(spirits.png);
        }
      }
      &.mutants{
        .c{
          background-image:url(mutants.png);
        }
      }
      &.ethereals{
        .c{
          background-image:url(ethereals.png);
        }
      }
      .h{
        position:absolute;
        top:0;
        right:0;
        display:block;
        width:120px;
        opacity:0;
        transition:opacity 0.2s;
        span{
          display:block;
          height:135px;
          &.muhan{
            background:url(//zhuanquan.xyz/rhymesland/src/single/legend/muhan.png) no-repeat center;
          }
          &.hetu{
            background:url(//zhuanquan.xyz/rhymesland/src/single/legend/hetu.png) no-repeat center;
          }
          &.sixia{
            background:url(//zhuanquan.xyz/rhymesland/src/single/legend/sixia.png) no-repeat center;
          }
          &.mi{
            background:url(//zhuanquan.xyz/rhymesland/src/single/legend/mi.png) no-repeat center;
          }
        }
      }
    }
  }
}

.mobile{
  .page.legend{
    background:url(//zhuanquan.xyz/rhymesland/src/single/legend/bg_m.jpg) no-repeat center;
    background-size:100%;
  }
  .main.legend{
    overflow-x:scroll;
    ul{
      padding:0.5rem 0;
      li{
        .h{
          opacity:1;
        }
      }
    }
  }
}
