/**
 * Created by army8735 on 2017/8/26.
 */

.main.loading{
  > .con{
    position:absolute;
    left:0;
    top:45%;
    width:100%;
    height:215px;
    transform:translateY(-50%);
    background:url(icon.png) no-repeat center;
    background-size:contain;
    .start-line{
      position:absolute;
      left:0;
      top:50%;
      width:50%;
      height:0;
      border-top:1px solid #C7A751;
      transform:translateX(-150px);
      &:after{
        position:absolute;
        top:-3px;
        right:0;
        width:5px;
        height:5px;
        background:#C7A751;
        border-radius:100%;
        content:' ';
      }
    }
    .end-line{
      position:absolute;
      right:0;
      top:50%;
      width:50%;
      height:0;
      border-top:1px solid #C7A751;
      transform:translateX(150px);
      &:after{
        position:absolute;
        top:-3px;
        left:0;
        width:5px;
        height:5px;
        background:#C7A751;
        border-radius:100%;
        content:' ';
      }
    }
    .enter{
      display:block;
      margin:0 auto;
      width:215px;
      height:100%;
    }
  }
}